<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link href="./public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener</h1>
    <main>
      <section id="section-one">
        <h2>Short Link BIG Result</h2>
        <form action="api/shorturl/new" method="POST">
          <p id="p-form">	
            ShortURL was designed to help your work look elegant!</p>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="URL"
            />
            <input type="submit" value="Shorten URL" id="submit-button"/>
        </form>
      </section>
      <section>
      </section>
    </main>
    <footer>
      <p id="p-footer">By <a href="https://github.com/benhanover">Ben Hanover</a></p>
    </footer>
    <!-- <div class="loader" id="spinner"></div> -->
  </body>
</html>
